{{ define "main" }}

<!-- privacy policy -->
<section class="section" style="margin-top: 170px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center text-primary">PRIVACY POLICY</h2>
          <h3>1. HOW WE COLLECT THE INFORMATION</h3>
            <p>There are many ways that We obtain information from you: <br> (1) when you enter a Westpoint Optical sweepstakes/giveaway <br> (2) when you sign up at a Westpoint optical store <br> (3) upon contacting customer service to Westpoint optical <br> (4) upon signing up at an event.</p>
          <h4>CONTACT FORM</h4>
            <p>Information submitted through the contact form on our site is sent to our company email, hosted by Zoho. Zoho adheres to the EU/US “Privacy Shield” policy and you can find more information about this: Zoho Privacy Policy.</p>
            <p>These submissions are only kept for customer service purposes they are never used for marketing purposes or shared with third parties.</p>
          <h4>GOOGLE ANALYTICS</h4>
            <p>We use Google Analytics on our site for anonymous reporting of site usage. So, no personalized data is stored.</p>
          <h3>2. THE INFORMATION WE COLLECT</h3>
            <p>When you send a message to receive our services, you will need to provide us with your name, Phone number and e-mail address. If you contact our customer service department, you may need to provide us with additional information so that We can respond to your questions or concerns as completely and thoroughly as possible. To provide users and subscribers with the most efficient and enhanced service and to better understand your preferences, We may request your gender, year of birth, sports of interest, shopping preference and product interest. Whether or not you provide this information is entirely up to you.</p>
          <h4>FACEBOOK</h4>
            <p>The Facebook page plugin is used to display our Facebook timeline on our site. Facebook has its cookie and privacy policies over which we have no control. There is no installation of cookies from Facebook and your IP is not sent to a Facebook server until you consent to it. See their privacy policy here: Facebook Privacy Policy.</p>
          <h3>3. COOKIES</h3>
            <p>This site uses cookies – small text files that are placed on your machine to help the site provide a better user experience. In general, cookies are used to retain user preferences, store information for things like shopping carts, and provide anonymized tracking data to third party applications like Google Analytics. Cookies generally exist to make your browsing experience better. However, you may prefer to disable cookies on this site and others. The most effective way to do this is to disable cookies in your browser. We suggest consulting the Help section of your browser.</p>
          <h3>4. HOW DO WE USE THIS INFORMATION</h3>
            <p>This website is exclusively directed to individuals residing in Canada and by providing your personal information you confirm to reside in Canada. As such, all personal information that We obtain about you will be recorded, used and protected by us. By providing us with your personal information, you consent to us processing this personal information in one or more of the ways described in this privacy policy. We will primarily use your personal information to provide products and services to you, for example <br> 1) To administer a contest, promotion, survey or other site feature and to provide you with the relevant products or services (for instance to deliver a prize you may have won in a contest) <br> 2) To send you information/materials via e-mail or mail about products, offers and news We think could interest you. This information may relate to products, services, offers and news of Westpoint Optical products or any other products and services by any company affiliated with us. <br> 3) To analyze visits to the website and learn about the interests of our visitors as well as visitor's physical features in the aggregate so we can improve our products and services and deliver the best user experience.</p>
          <h3>5. SHARING INFORMATION WITH THIRD PARTIES</h3>
            <p>We will never sell any information about you to anyone. We engage third parties to perform services in connection with the operation of our business. Examples of these services include marketing and promotional material distribution. We may need to share personal information with these third parties so that they can perform these services, however, We limit the personal information that We give to them and authorize them to use this information only to perform those services. We share aggregated demographic information about our user base with our agents, including agencies or third party vendors so that they can provide marketing analysis and consult on advertising strategies. This information does not identify individual users. We also may share non-personal information, such as the number of users who visited the website during a specific period or who purchased a specific product through the website, with our marketing partners, advertisers and others from time to time. This information generally is shared in an aggregated form. We may release personal information if we believe in good faith that: the law or legal process requires it; if We have been advised by counsel; We have received a valid administrative request from a law enforcement agency; or such release is necessary to protect the rights, property or safety of Westpoint Optical, or any of our respective affiliates, business partners, customers or others. As with any business, it is possible that as our business develops, We might go through a business transition, such as a merger, acquisition by another company, sale of all or a portion of our assets or buying online stores or other assets. In such transactions, information about customers will likely be transferred. You will be notified via prominent notice on our site for 30 days of any such change in ownership or control of your personal information. You will be deemed to have consented to the transfer of your personally identifiable information to any such successor entity unless you notify us via email to the contrary within 30 days. Personal information submitted to or collected through this website may be stored and/or processed in the United States or abroad, United Kingdom, Italy or Canada for the purposes described in this privacy policy. By using Westpoint Optical products and services (including our website), you consent to any such transfer of information outside of your country. We do not share, sell or rent to other third parties any personal information that you provide to us, except with your consent or as described in this Privacy Policy.</p>
          <h3>6. E-MAIL OPT-OUT/UNSUBSCRIBE</h3>
            <p>We have a company policy not to flood people with e-mail correspondence, but simply to give you periodic information so you can stay up to date on what We are offering. You can easily unsubscribe at any time you want by contacting our customer service department or by following the instructions contained in the e-mail. It takes some time to put opt-outs in effect so you may still receive emails from us for several weeks after your request is received. <br>
            In case of a data breach, system administrators will immediately take all needed steps to ensure system integrity, will contact affected users and will attempt to reset passwords if needed.
          <h3>7. CHILDREN'S PRIVACY</h3>
            <p>If you are under 14, you should surf spensascreens.com only with the involvement of a parent or guardian. Although We do not specifically direct our websites, catalogues or e-mails to children, We strive to provide children with as much customer service as possible without violating their privacy rights. For their protection, We ask that anyone under 14 years of age not attempt to register with Westpoint Optical or otherwise provide Westpoint Optical with any personal information without the consent of a parent or legal guardian.</p>
          <h3>8. SECURITY</h3>
            <p>We use industry-standard SSL (Secure Sockets Layer) encryption to protect the confidentiality of your personal information.</p>
          <h4>UPDATES TO PRIVACY INFORMATION</h4>
            <p>Please review the site periodically to see any updates to the information provided here. This privacy policy was last updated on FEB 03, 2021.
            </p>
      </div>
    </div>
  </div>
</section>
<!--/privacy policy -->

        <!-- teacher category list -->
        <!-- <ul class="list-inline text-center filter-controls mb-5">
          <li class="list-inline-item m-3 text-uppercase active" data-filter="all">{{ i18n "all" }}</li>
          {{ $categories := slice }}
          {{ range .Data.Pages }}
          {{ $categories = $categories | append .Params.Course }}
          {{ end }}
          {{ range ( $categories | uniq ) }}
          <li class="list-inline-item m-3 text-uppercase" data-filter="{{ . | urlize }}">{{ . | humanize }}</li>
          {{ end }}
        </ul> -->
      
    <!-- teacher list -->
    <!-- <div class="row filtr-container"> -->
      <!-- teacher -->
      <!-- {{ range .Data.Pages }}
      <div data-category="{{ .Params.Course | urlize }}" class="col-lg-4 col-sm-6 filtr-item">
        {{ .Render "teacher" }} -->
      <!-- </div> -->
      <!-- {{ end }} -->
    <!-- </div> -->
<!-- /teachers -->

{{ end }}
