{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section-sm" style="margin-top: 70px;">
  <div class="container-fluid">
      <div class="row expert-service align-items-lg-center align-items-md-end">
          <!-- <div class="col-md-12 col-lg-6">
            {{ with .Params.image }}
            <img class="img-fluid1 w-100 mb-4" src="{{ . | relURL }}" alt="about image">
            {{ end }}
          </div> -->
          <div class="col-md-12">

              <div class="container section-title section-title-white">
                <h2>{{.Params.heading}}</h2>
                {{ .Content }}
              </div>
          </div>
      </div>
  </div>
</section>
{{ end }}
