{{ define "main" }}
<style>
  /*-------------------------------------------------------
                    Hero Background Section                 
    ------------------------------------------------------*/
  .hero-image {
    background-image: url("{{ .Params.image | relURL }}");
    width: 100%;
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 20px;
    background-size: cover;
    background-color: transparent;
  }

  .hero-div {
    position: relative;
    top: 100px;
    left: 180px
  }

  .hero-card {
    width: 35%;
    position: absolute;
    padding: 75px 55px;
    border-radius: none;
  }

  @media only screen and (min-width: 768px) and (max-width: 780px) {
    .hero-div {
      left: 43px !important;
    }

    .hero-card {
      width: 55% !important;
      padding: 18px 25px !important;
    }
  }

  @media only screen and (max-width: 800px) {

    .hero-image {
      height: 455px;
      background-position: center top;
    }

    .hero-card {
      position: relative;
      width: 75%;
      padding: 12px 18px;
    }

    .hero-div {
      position: absolute;
      top: 96px;
      left: 23px;
    }
  }

  @media only screen and (min-width: 820px) and (max-width: 1024px) {

    .hero-image {
      height: 700px;
      background-position: center top;
    }

    .hero-card {
      width: 50%;
      padding: 34px 35px;
    }

    .hero-div {
      left: 63px;
    }
  }
</style>
<!-- blog -->
<section class="section-sm" style="margin-top: 70px;">
  <div class="row">
    <div class="hero-image">
      <div class="col-span-full hero-div lg:col-span-7">
        <div class="card hero-card bg-white">
          <div class="space-y-4">
            <header>
              <h2>{{ .Title }}</h2>
            </header>
            <footer>
              <a href="/contact" class="get-started-btn">Get Quote</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n
              "posted_by" }}
              :</span>
            <p class="text-light" style="display: inline;">{{ .Params.Author | title }}</p>
          </li>

          <!-- <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "date" }}
              :</span>{{ .PublishDate.Format "02 Jan, 2006" }}</li> -->

          <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n
              "category" }}
              :</span>{{ range $index, $elements:= .Params.Categories }}<a
              href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"> {{ if ne $index 0 }}, {{ end }}
              {{ . | title }}</a> {{ end}}</li>
        </ul>
      </div>
      <!-- border -->
      <div class="col-12 my-4">
        <div class="border-bottom"></div>
      </div>
      <!-- blog content -->
      <div class="col-lg-8 col-sm-12 mb-5 content">
        {{ .Content }}
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 p-5" style="margin: auto;">
        {{ "<!-- latest post -->" | safeHTML }}
        <div class="bg-white">
          <h4 class="mb-4 text-primary py-5">{{ i18n "latest_article" }}</h4>
          {{ "<!-- post-item -->" | safeHTML }}
          {{ range first 25 ( where site.Pages "Type" "post" )}}
          <div class="media border-bottom border-color pb-3 mb-3">
            <a href="{{ .Permalink }}"><img class="mr-3 post-thumb-sm" src="{{ .Params.image | absURL }}"></a>
            <div class="media-body">
              <a href="{{ .Permalink }}">
                <h5 class="mt-0">{{ .Title }}</h5>
              </a>
              {{ .PublishDate.Format "02 Jan 2006" }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ partial "faq.html" }}

  {{$paramValue := .Params.faq }}
    {{ with .Site.Data.faq}}
    <section class="container">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        {{ range $key, $value := . }}
        {{ if eq $key $paramValue }}
        {{ range $value }}
        <div class="accordion-item ">
          <h2 class="accordion-header" id="{{.heading}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{.id}}"
              aria-expanded="false" aria-controls="{{.id}}">
              {{.question}}
            </button>
          </h2>
          <div id="{{.id}}" class="accordion-collapse collapse" aria-labelledby="{{.heading}}"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">{{.answer}}</div>
          </div>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </section>
    {{end}}
</section>
{{ end }}
