{{ define "main" }}

<!-- gallery -->
<section class="section" style="margin-top: 80px;">
  <div class="container">
    <!-- gallery list -->
    {{ with .Site.Data.gallery}}
    <div class="container-fluid">
      <div class="px-lg-5">
        <div class="row">
          <!-- Gallery item -->
          {{range .data}}
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="bg-white rounded shadow-sm">
              <img src="{{.image}}" alt="{{.name}}" class="card-img-top w-100" style="height: 280px;">
              <div class="p-4">
                <h6> <a href="" class="text-dark">{{.name}}</a></h6>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
  {{end}}
    