<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{ if not .IsHome }}
	<!-- {{ partial "page-header.html" . }} -->
	{{ end }}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
</body>
							<!--whatsapp Plugin-->
<a  class="whats-app" href="https://wa.me/+919246544089" target="_blank"><i class="fa-brands fa-whatsapp i-wa"></i></a>
<!-- Messenger Chat plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "109441568410710");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  // for greview
	if(window.location.pathname === '/greview/') {
		window.location.replace("https://g.page/r/CTSGekp-GgOgEBM/review");
	}
</script>
<script src="https://cdn-in.pagesense.io/js/spensascreens/d462a493497c44ecbb62fdeea59c29a7.js"></script>
</html>