{{ define "main" }}
<!-- blogs pages -->

<section class="section" style="margin-top: 90px;">
  <div class="container">
    <div class="row">
      <!-- blogs -->
      <div class="col-lg-12">
        <!-- <h1 class="text-center text-primary mb-4" style="font-size: 40px;">spensa screens google review</h1> -->
        <div class="row">
          <!-- blog post -->
          {{ $paginator := .Paginate ( where .Data.Pages "Type" "post") }}
          {{ range $paginator.Pages }}
          <div class="col-sm-3 mb-5">
            <article class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
            <div class="card-body">
              <!-- post meta -->
              <ul class="list-inline mb-3">
                <!-- post date -->
                <!-- <li class="list-inline-item mr-3 ml-0"><i class="ti-calendar"></i>
                  {{ .PublishDate.Format "02 Jan, 2006" }}</li> -->
                  <!-- author -->
                  <!-- <li class="list-inline-item mr-3 ml-0"><i class="ti-user"></i> <a
                    href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a>
                  </li> -->
                  <li class="list-inline-item mr-3 ml-0"><i class="ti-user"></i><p style="display: inline;">{{ .Params.Author | title }}</p>
                  </li>
                </ul>
                <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                <p class="card-text">{{ .Summary | truncate 100 }}</p>
                <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "read_more" }}</a>
              </div>
            </article>
          </div>
          {{ end }}
          <div class="col-12 mt-4 mb-3">
            {{ template "_internal/pagination.html" . }}
          </div>
        </div>
      </div>
      <!-- contact forms -->
      <div class="col-lg-6 p-3">
        <div class="h3-text">
            <h2 class="section-title text-center text-primary">stylish mesh doors and windows</h2>
            {{partial "book-appointment-form.html" .}}
        </div>
      </div>
      <div class="col-lg-6 p-3">
        <div class="text-center mt-2">
            <div class="iconbox-title">
              <h1>Spensa Screens</h1>
            </div>
            <p><i class = "ti-mobile" style="color: #f24949;"></i>
              <a href="tel:9849224433"> Phone : <strong> 9849224433</strong></a></p>
            <p><i class="ti-email"  style="color: #f24949;"></i> Email :
              <a href="mailto:info@spensascreens.com"> <strong>info@spensascreens.com</strong></a></p>
        </div>
        <div class="iframe-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.196312553711!2d78.4489512!3d17.4503156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa0031a7e4a7a8634!2sSPENSA%20SCREENS%20-%20SLIDING%20MOSQUITO%20MESH%20DOORS%20MANUFACTURERS%20IN%20HYDERABAD!5e0!3m2!1sen!2sin!4v1656771954509!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /blogs -->

{{ partial "faq.html" }}

{{ end }}
