<article class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
  <img class="card-img-top rounded-3" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
  <div class="card-body">
    <!-- post meta -->
    <ul class="list-inline mb-3">
      <!-- post date -->
      <!-- <li class="list-inline-item mr-3 ml-0"><i class="ti-calendar"></i> {{ .PublishDate.Format "02 Jan, 2006" }}</li> -->
      <!-- author -->
      <li class="list-inline-item mr-3 ml-0"><i class="ti-user"></i><p style="display: inline;">{{ .Params.Author | title }}</p></li>
    </ul>
      <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p class="card-text">{{ .Summary | truncate 100 }}</p>
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "read_more" }}</a>
  </div>
</article>