<style>
    /*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
  .counts {
    padding: 30px 0;
  }
  
  .counts .counters span {
    font-size: 48px;
    display: block;
    color: #5fcf80;
    font-weight: 700;
  }
  
  .counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #37423b;
  }
</style>
<section id="counts" class="counts section-bg">
    <div class="container">
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center">
          <i class="fa fa-smile-o" style="font-size: 60px;color: #5fce7f;"></i>
          <span data-purecounter-start="0" data-purecounter-end="3896" data-purecounter-duration="1" class="purecounter"></span>
          <p>Happy clients</p>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <i class="fa fa-check" style="font-size: 60px; color:#5fce7f"></i>
          <span data-purecounter-start="0" data-purecounter-end="1340" data-purecounter-duration="1" class="purecounter"></span>
          <p>project</p>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <i class="fa fa-user" style="font-size: 60px; color:#5fce7f"></i>
          <span data-purecounter-start="0" data-purecounter-end="92" data-purecounter-duration="1" class="purecounter"></span>
          <p>Events</p>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <i class="fa fa-user" style="font-size: 60px; color:#5fce7f"></i>
          <span data-purecounter-start="0" data-purecounter-end="235" data-purecounter-duration="1" class="purecounter"></span>
          <p>Trainers</p>
        </div>
      </div>
    </div>
  </section>