<section class="container">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item ">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                What are security screens?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><b>Security screens</b> are high tensile woven stainless-steel mesh. These come anchored by a unique screw-clamp system screwed through the mesh and into the frame. This results in a spectacularly strong yet still versatile security screen that provides excellent airflow and visibility.</div>
          </div>
        </div>
    
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How to install security screens?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">It’s best to hire professional security screen dealers or distributors to install these for you.</div>
          </div>
        </div>
    
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                How much do security screens cost?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Since every Spensa security screen comes customized, you will need to get a personalized quote from one of our verified vendors.</div>
          </div>
        </div>
    
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Should You Have Home Security Doors At Your House?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Even after deciding that they should purchase doors for home security, many never take the step. And the reason is just one they are confused whether these doors 
                are essential for their house or not. Thing is unfortunate incidents like break-in by burglars or thefts is unpredictable and can even occur at those areas where you 
                least expect them. A security door can also be a combination of wooden or glass doors, so you can customize the designs accordingly. Hence, when you are confused 
                whether you should buy home security doors or not you should understand that:
                <br>
                · Security comes first no matter where or which part of the world you live in.
                <br>
                · Efficient security system creates an impression that you are not an easy target for the burglars.
                <br>
                · Every door designed for security are not expensive, there is something that would suit everyone’s budget.
            </div>
            </div>
          </div>
    
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                How reliable is your Invisible Grille?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                The stainless steel that we use in our Invisible Grille is a top of the line in the market. It is Grade 316.
                <br>
                It means that it gives a better overall corrosion resistant property. This will stand in any environment or temperatures. The bottom line it will not rust and its strength 
                is really tough.So, with all the features of our spensa  Invisible Grille, we can assure you that your family will be safe and sound with our top of the line Invisible Grilles.
              </div>
            </div>
          </div>
    
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                What is Invisible Grilles?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> ​<b>Invisible Grilles</b>is the ONLY option for high-rise balcony safety. It replaces the traditional aluminium type grille. It gives you an unblock view so it also removes the ‘caged up’ feeling in your home.</div>
            </div>
          </div>
    
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                Is Invisible Grilles safe?
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> Yes! <b>Invisible Grilles</b>is safe for adults, kids and even your pets! Our cable is also coated with a layer of nylon membrane, preventing you from cuts when handling.</div>
            </div>
          </div>
      </div>
</section>
