<style>
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    color: #37423b;
    font-size: 14px;
    background: #eef0ef;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f9faf9;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #5fcf80;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #5fcf80;
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #e0e5e2;
  }
  
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #5fcf80;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #3ac162;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  
  #footer .credits a {
    color: #3ac162;
    transition: 0.3s;
  }
  
  #footer .credits a:hover {
    color: #5fcf80;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #5fcf80;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #3ac162;
    color: #fff;
    text-decoration: none;
  }
</style>
<!-- footer -->
<footer>
  <!-- newsletter -->
  {{ if site.Params.subscription.enable }}
    {{ with site.Params.subscription }}
      <div class="newsletter">
        <div class="container">
          <div class="row">
            <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
              <h3 class="">{{ i18n "subscribe_newsletter" }}</h3>
              <form action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
                <div class="input-wrapper">
                  <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="{{ i18n "enter_email" }}">
                  <button type="submit" name="subscribe" class="btn btn-primary">{{ i18n "join" }}</button>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="{{ .mailchimp_form_name }}" tabindex="-1">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  {{ end }}
  </footer>
  <!-- footer content -->
  <!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <a href="{{ site.BaseURL | relLangURL }}"><img src="{{ site.Params.logo }}"  alt="" style="width: 313px;"></a>
          <!-- <h3 style="color: #154569;font-size: 40px;">Spensa</h3> -->
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4 style="color: #1859a6;">Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            {{ range site.Menus.footer }}
            <li><i class="bx bx-chevron-right"></i><a class="" href="{{ .URL | absLangURL }}" target="_blank">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <div class="hours-wrapper">
            <div class="row hours-title-row">
              <div class="col-12">
                <h4 class="mb-1" style="color: #1859a6;"> OPENING HOURS</h4>
              </div>
            </div>
            <div class="row hours-row">
              <div class="col-6 mb-3">
                <span class="day">Monday-saturday</span>
              </div>
              <div class="col-6 mb-3">
                <span class="opens">09AM -</span> <span class="closes">07PM</span>
              </div>
            </div>
            
            <div class="row hours-row">
              <div class="col-5 mb-3">
                <span class="day">Sunday</span>
              </div>
              <div class="col-7 mb-3">
                <span class="opens">Closed</span>
              </div>
            </div>  
          </div>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h3 class="mb-1 text-uppercase" style="color: #1859a6;"><b>Our Address</b></h3>
          <h4 class="p-0">Sanathnagar, Hyderabad</h4>
          <a href="https://www.google.com/maps/place/Spensa+Screens+-+Mosquito+Mesh+%7C+Invisible+Grills+%7C+Sliding+Security+Doors+in+Hyderabad/@17.4503156,78.4467625,17z/data=!3m1!4b1!4m6!3m5!1s0x3bcb9102e1270579:0xa0031a7e4a7a8634!8m2!3d17.4503156!4d78.4489512!16s%2Fg%2F11sx57z9fn" target="_blank"><p class=""><i class="ti-location-pin mt-0 text-primary"></i>{{ site.Params.address | markdownify }}</p></a>
          <span><a class="" href="tel:{{ site.Params.mobile }}"><i class="ti-mobile mt-2 text-primary"></i>{{ site.Params.mobile }}</a></span> 
          <span><a class="" href="tel:{{ site.Params.mobile }}"><i class="ti-mobile mt-2 text-primary"></i></strong>{{ site.Params.mobile1 }}</a></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex p-2">
    <div class="me-md-auto text-center text-md-start p-1">
      <div class="copyright">
        &copy; Copyright <strong><span>Spensa screens</span></strong>.
      </div>
    </div>
    <div class="me-md-auto text-center text-md-start p-1">
      <div class="copyright">
         Designed and developed by <a href="https://www.two44software.com/", target="_blank"><strong><span>Two44 software solutions</span></strong></a>.
      </div>
    </div>
    <div class="social-links text-center text-md-right p-1 pt-md-0">
      <a href="https://www.facebook.com/Spensa-screens-109441568410710" class="facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="https://www.youtube.com/channel/UCT6fcmYR1PG8cGBS1p5Tlqw/featured" class="facebook" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      <a href="https://www.instagram.com/spensascreens/" class="instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://in.pinterest.com/spensascreens/" class="printerest" target="_blank"><i class="fa-brands fa-pinterest-p"></i></a>
      <a href="https://wa.me/+919246544089" class="whatsapp" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{{ "<!-- Google Map API -->" | safeHTML }}
{{ with site.Params.map.gmap_api }}
<script src="{{ . | safeURL }}"></script>
{{ end }}


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- lightbox Script -->" | safeHTML }}
{{ $script := resources.Get "js/lightbox.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with site.Params.google_analitycs_id}}

{{ end }}

<!-- cookie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-outline-primary ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}
