<style>
  .form-control {
    width: 100%;
    height: 40px;
    border-radius: 5px;
  }

  .form-select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-3 form-group mt-3 mt-md-0">
      <span class="label label-default" id="label_length">Square Feet/Foot</span>
      <input type="number" class="form-control" name="Length" id="input_length" placeholder="Enter Length" value="1"
        required>
    </div>
    <div class="col-md-3 form-group mt-3 mt-md-0" id="height_ele">
      <span class="label label-default" id="label_height">Height</span>
      <input type="number" class="form-control" name="Height" id="input_height" placeholder="Enter Height" value="30.48"
        required>
    </div>
    <div class="col-md-3 form-group mt-3 mt-md-0">
      <span class="label label-default">Measurements(Units)</span>
      <select class="form-select" name="scale" id="scale">
        <option id="sft" value="sft">Squarefeet/sft</option>
        <option id="cms" value="cm">centimeters/cms</option>
        <option id="inches" value="inc">inches/in"</option>
      </select>
    </div>
    <div class="col-md-3 form-group mt-3 mt-md-0">
      <label for=""><b>Price in (INR)</b></label>
      <h3>
        <span>₹</span>
        <span id="price"></span>
      </h3>
    </div>
    <!-- <div class="col-md-8 p-4 text-center">
            <button class="btn btn-primary" onclick="calculateAmount()">Calculate</button>
        </div> -->
  </div>
</div>

<script>
  function calculation(typeCalculation = 0) {
    const length = $('#input_length');
    const height = $('#input_height');
    const default_price = parseFloat($("#productPrice").val());
    const price = $('#price');
    if (!height.is(':visible') && typeCalculation === 0) {
      let sft_val = parseFloat(length.val());
      if (sft_val > 0) {
        const sft_price = (sft_val * default_price).toFixed(2)
        price.text(sft_price);
      } else {
        length.val(1)
        price.text(default_price)
        alert('square feet/foot should be greater than zero');
      }
    } else {
      if (parseFloat(length.val()) > 0 && parseFloat(height.val()) > 0) {
        const area = length.val() * height.val()
        const final_sft = area / typeCalculation
        const final_price = (final_sft * default_price).toFixed(2)
        price.text(final_price)
      } else {
        price.text(default_price)
        alert('Length and Height should be greater than zero');
      }

    }
  }

  function manageInputs(default_value) {
    $('#label_length').text('Length')
    $('#input_length').val(default_value)
    $('#label_height').text('Height')
    $('#input_height').val(default_value)
  }

  function selection() {
    if ($('#sft').is(':selected')) {
      calculation();
    } else if ($('#cms').is(':selected')) {
      calculation(929.03);
    } else if ($('#inches').is(':selected')) {
      calculation(144);
    }
  }

  $(document).ready(function () {
    let productName = $("#productName").attr('name');
    let price = parseInt($("#productPrice").val());
    $("#price").text(price);
    $('#height_ele').hide();
    $("#scale").on('change', () => {
      if ($('#sft').is(':selected')) {
        $('#height_ele').hide()
        $('#label_length').text('Square Feet/Foot')
        $('#input_length').val(1);
      } else if ($('#cms').is(':selected')) {
        $('#height_ele').show()
        manageInputs(30.48)
      } else if ($('#inches').is(':selected')) {
        $('#height_ele').show()
        manageInputs(12)
      }
      selection();
    })

    $('#input_length, #input_height').on('keyup', function () {
      selection()
    })
  })

</script>