<style>
    /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  
  .about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  .about .content ul li::before{
  content: none;
}
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5fcf80;
  }
  
  .about .content .learn-more-btn {
    background: #5fcf80;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px 9px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  }
  
  .about .content .learn-more-btn:hover {
    background: #3ac162;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .about .content .learn-more-btn {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }
</style>

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <h2 class="text-center">Safety, security, and so much more</h2>
        <h5 class="text-center">
          When you add Spensa to your home, you add the toughest entry defense on the market. 
          In addition, you add a host of other benefits to better your lifestyle.
        </h5>
      </div>
      <div class="row">
        <div class="text-center col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="card border-0 rounded-0 hover-shadow">
            <div class="card-img position-relative">
              <i class="fa-solid fa-wind" style="font-size: 35px;color: #5fce7f;"></i>
            </div>
            <div class="card-body">
              <h4 class="card-title">Fresh air and breezes</h4>
              <p class="card-text">
                Enjoy the many benefits of fresh air and cool breezes flowing through your home without compromising on security.
              </p>
            </div>
          </div>
        </div>
        <div class="text-center col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="card border-0 rounded-0 hover-shadow">
            <div class="card-img position-relative">
              <i class="fa-solid fa-eye" style="font-size: 35px;color: #5fce7f;"></i>
            </div>
            <div class="card-body">
              <h4 class="card-title">Unhindered views</h4>
              <p class="card-text">
                No need for unsightly bars and burglar bars. Spensa provides unrestricted views and a feeling of open space.
              </p>
            </div>
          </div>
        </div>
        <div class="text-center col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="card border-0 rounded-0 hover-shadow">
            <div class="card-img position-relative">
              <i class="fa-solid fa-sun" style="font-size: 35px;color: #5fce7f;"></i>
            </div>
            <div class="card-body">
              <h4 class="card-title">Energy efficiency</h4>
              <p class="card-text">
                Spensa Tensile Tuff mesh blocks up to 53% of solar heat gain and 62% of UV rays, making your home more energy-efficient.
              </p>
            </div>
          </div>
        </div> 
      </div>
      
      <div class="row">
        <div class="text-center col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="card border-0 rounded-0 hover-shadow">
            <div class="card-img position-relative">
              <i class="fa-solid fa-mosquito-net" style="font-size: 35px;color: #5fce7f;"></i>
            </div>
            <div class="card-body">
              <h4 class="card-title">Insect protection</h4>
              <p class="card-text">
                Protect your family and home from all unwanted visitors. From flies and mosquitoes to burglars and intruders.
              </p>
            </div>
          </div>
        </div>
        <div class="text-center col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="card border-0 rounded-0 hover-shadow">
            <div class="card-img position-relative">
              <i class="fa-solid fa-fire-flame-curved" style="font-size: 35px;color: #5fce7f;"></i>
            </div>
            <div class="card-body">
              <h4 class="card-title">Brushfire protection</h4>
              <p class="card-text">
                Spensa provides the highest level of protection from ember attack, radiant heat, and the impact of burning debris on glass.
              </p>
            </div>
          </div>
        </div>
        <div class="text-center col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div class="card border-0 rounded-0 hover-shadow">
            <div class="card-img position-relative">
              <i class="fa-solid fa-hurricane" style="font-size: 35px;color: #5fce7f;"></i>
            </div>
            <div class="card-body">
              <h4 class="card-title">Hurricane protection</h4>
              <p class="card-text">
                Spensa provides extra protection during a storm or hurricane and is a strong barrier against hailstones and wind-borne debris.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->