<style>
    /*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  border: 1px solid #eef0ef;
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .fa-quote-left,
.testimonials .testimonial-item .fa-quote-right {
  color: #c1ecce;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5fcf80;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5fcf80;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }

  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }

  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }

  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}
</style>                
                
                <!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Testimonials</h2>
        <p>What Our Clients saying</p>
      </div>
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Boya Suresh2557</h3>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                  Had a conversation with Mr Omar, as I live in 11th floor, didn’t want to get heavy steel grill. He guided us to install INVISIBLE GRILLS. The product is light weight and durable, additionally the view is unblocked. Great service !
                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Farhan</h3>
                <p>
                  <i class="fa-solid fa-quote-left"></i>     
                    They provide a wide range of quality aluminum mesh products. Got a Sliding security screen door installed, the make and finish of the pleated SS mesh door is stupendous. 
                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Vamc Mickey</h3>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                  Aluminium-Honeycomb screens are of standard quality. The fabric and aluminium profile combination provide a great view. It can be used as partition.
                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>vijaykummari Rock</h3>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                  I was confused as to what product to use for my balcony. Mr Omar suggested sliding security screens for my balcony. The view is uncompromised. Excellent service and punctual staff
                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Mohammed Farmaan</h3>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                  The Technicians they have are fully experienced.Our doors got there new look and protection from harmful flies.
                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Shaik Abdulla</h3>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                  The technicians are professional and punctual. Got a security door. The sliding security door is of standard quality
                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Sultan Shaik</h3>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                  Thanks for the best sliding security doors !  Good service and highly recommended..
                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Ragvind Pati</h3>
                <p>
                  <i class="fa-solid fa-quote-left"></i>
                  In simple words, my experience with Spensa was great.  Mr. Omar was humble and his experience in the field is top notch, His vast experience was so much helpful to make my choices very easily.
                  His staff members Gouse and Nizam were also equally experienced.  This firm has wide verities of options for balconies or any other glass/mosquito related.  Particularly, I like the invisible grill concept,
                  you have solid protection without compromising the view.
                  I definitely recommend Spensa.
                  <i class="fa-solid fa-quote-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section><!-- End Testimonials Section -->