{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section-sm" style="margin-top: 70px;">
  <div class="container-fluid">
    <div class="container">
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}
