{{ define "main" }}
<style>
  /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #5fcf80;
    text-decoration: none;
  }
  
  a:hover {
    color: #86db9f;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #5fcf80;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #7ed899;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*-----------------------------------------------
        breadcrumbs Section
_________________________________________________*/

  .breadcrumbs {
  margin-top: 80px;
  text-align: center;
  background: #5fcf80;
  padding: 30px 0;
  color: #fff !important;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px;
  }
}

.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 700;
}

.breadcrumbs p {
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-top: 5px;
}

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #5fcf80;
  float: left;
  width: 44px;
  height: 44px;
  background: #ecf9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37423b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #657a6d;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #5fcf80;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #5fcf80;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #5fcf80;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #3ac162;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.client-img {
  padding-top: 0px;
}

.client-img .icon-img {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  border: 1px solid #eef0ef;
}

.client-img .icon-img i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.client-img .icon-img h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.client-img .icon-img h3 a {
  color: #37423b;
  transition: 0.3s;
}

.client-img .icon-img:hover {
  border-color: #5fcf80;
}

.client-img .icon-img:hover h3 a {
  color: #5fcf80;
}
</style>
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Contact Us</h2>
    </div>
  </div><!-- End Breadcrumbs -->
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row mt-5">
        <div class="col-lg-6 mt-5 mt-lg-0" style="margin: auto;">
          {{partial "book-appointment-form.html" .}}
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0" style="margin: auto;">
          <div data-aos="fade-up">
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.196312553711!2d78.4489512!3d17.4503156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa0031a7e4a7a8634!2sSPENSA%20SCREENS%20-%20SLIDING%20MOSQUITO%20MESH%20DOORS%20MANUFACTURERS%20IN%20HYDERABAD!5e0!3m2!1sen!2sin!4v1656772525912!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->
  <section id="features" class="client-img mt-3">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l1.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l2.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l3.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l4.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l5.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l6.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l7.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l8.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l9.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l10.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l11.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l12.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l13.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l14.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l15.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l16.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l17.jpg" alt="" style="width: 150px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l18.jpg" alt="" style="width: 150px;">          
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l19.jpg" alt="" style="width: 150px;"> 
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="icon-img">
            <img src="/images/clients/l20.jpg" alt="" style="width: 150px;">
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ partial "faq.html" }}
</main><!-- End #main -->
{{ end }}
