{{ define "main" }}
<style>
  /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
  body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }

  a {
    color: #5fcf80;
    text-decoration: none;
  }

  a:hover {
    color: #86db9f;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

  /*----------------------------------------
          Slider Section
  ------------------------------------------*/
  /* Slider */
  .customer-logos {
    padding: 0;
    margin: 0;
  }

  .slick-slide {
    margin: 0px 10px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .slick-list:focus {
    outline: none;
  }

  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }

  .slick-track:before,
  .slick-track:after {
    display: table;
    content: '';
  }

  .slick-track:after {
    clear: both;
  }

  .slick-loading .slick-track {
    visibility: hidden;
  }

  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }

  [dir='rtl'] .slick-slide {
    float: right;
  }

  .slick-slide img {
    display: block;
  }

  .slick-slide.slick-loading img {
    display: none;
  }

  .slick-slide.dragging img {
    pointer-events: none;
  }

  .slick-initialized .slick-slide {
    display: block;
  }

  .slick-loading .slick-slide {
    visibility: hidden;
  }

  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }

  .slick-arrow.slick-hidden {
    display: none;
  }


  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #5fcf80;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }

  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }

  .back-to-top:hover {
    background: #7ed899;
    color: #fff;
  }

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }

  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #5fcf80;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
</style>

<!-- =======Products Slider Section ======= -->
<section>
  <div class="container" style="margin-top: 95px">
    <div class="row">
      <div class="col-md-8">
        {{if .Params.youtube}}
        <div class="carousel-inner">
          <iframe width="90%" height="525" src={{.Params.youtube}}
            title="sliding security door" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        {{else}}
        <div class="carousel-inner">
          <iframe width="90%" height="525" src="https://www.youtube.com/embed/k_tou8PCyHo?autoplay=1&loop=1"
            title="sliding security door" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        {{end}}
        <div style="margin-top: 30px;">
          <input type="hidden" id="productName" name="{{.Title}}">
          <input type="hidden" id="productPrice" value="{{.Params.price}}">
          {{partial "pricing-calculator.html" .}}
        </div>
      </div>
      <div class="col-md-4">
        {{partial "book-appointment-form.html" .}}
      </div>
    </div>
  </div>
  <!-- slider ends -->

  <!---======price Form======== -->

</section> <!--===End Of Slider Section====-->
<!-- products pages -->

<section class="section-sm" style="margin-top: 70px;">
  <div class="container">
    <div class="row">
      <!-- border -->
      <div class="mb-5 content">
        <h2>{{ .Params.heading}}</h2>
        {{ partial "reading-time.html" . }}
        {{ .Content }}
      </div>
      <div>
        <iframe width="560" height="315" src="{{.Params.youtube}}" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
    {{$paramValue := .Params.faq }}
    {{ with .Site.Data.faq}}
    <section class="container">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        {{ range $key, $value := . }}
        {{ if eq $key $paramValue }}
        {{ range $value }}
        <div class="accordion-item ">
          <h2 class="accordion-header" id="{{.heading}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{.id}}"
              aria-expanded="false" aria-controls="{{.id}}">
              {{.question}}
            </button>
          </h2>
          <div id="{{.id}}" class="accordion-collapse collapse" aria-labelledby="{{.heading}}"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">{{.answer}}</div>
          </div>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </section>
    {{end}}
  </div>
</section>
<!-- /event single -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('.customer-logos').slick({
      slidesToShow: 6,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 1500,
      arrows: false,
      dots: false,
      pauseOnHover: false,
      responsive: [{
        breakpoint: 768,
        settings: {
          slidesToShow: 4
        }
      }, {
        breakpoint: 520,
        settings: {
          slidesToShow: 3
        }
      }]
    });
  });
</script>

{{ end }}